body {
    box-sizing: border-box;
    margin: 0;
    background-color: white;
}

h1,
h2,
h3,
p {
    margin: 0;
}

header {
    height: 70px;
    background-color: white;
}

/*forside styling*/

#forside_medie_1 {
    height: 450px;
    background-color: #bfbfbf;
}

#tekst_1 {
    height: 450px;
    background-color: #9f9bff;
}

#tekst_2 {
    height: 350px;
    background-color: #262674;
}

#forside_medie_2 {
    height: 250px;
    background-color: #bfbfbf;
}

#cta {
    height: 300px;
    background-color: white;
}

#cta_buttons div {
    border: 2px solid orange;
}

/*
#galleri {
    height: 450px;
    background-color: greenyellow;
}
*/

/* Fag styling */

#top_box {
    height: 400px;
    background-color: #1d1d64;
}

#speciale_fag .content {}

/* om os styling */

#indhold h2 {
    color: #FF7F00;
}


/*
#omos #tekst_1 {
    background-color: #1d1d64;
}

#image_container {
    height: 400px;
    background-color: grey;
}

#header_2 {
    background-color: #3a3a86;
}
*/

/* tilmelding */

#tilmelding {
    background-color: #25259d;
}



/* footer styling */

footer {
    height: 600px;
    background-color: #274976;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#some_link a {
    display: flex;
    height: 50px;
    width: 50px;
    border: 4px solid #274976;
    border-radius: 50%;
    background-color: #274976;
}

#some_link {
    display: flex;
}

.footer_cta {
    font-family: Proxima Nova;
    color: #FF7F00;
    padding: 30px;
    font-size: 47px;
}
